*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


p{
  font-family: 'Inter';
  font-size: 14px;
  line-height:20px;
  color:#d2d2d2
}

header{
  width:550px;
  height:260px;
 background: linear-gradient(246.26deg, #05795A 0%, #10B680 100%);
}